---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Quiénes Somos - Vegetaly Foods" description="Vegetaly Foods es una empresa manizaleña enfocada en facilitar la preparación de alimentos tradicionales mediante mezclas prácticas y sencillas de productos vegetales de excelente calidad.">
	
	<section class="header-image-about">
		<img src="/images/zanahoriaPina.png" alt="Vegetales frescos" class="hero-image-about" />
	</section>
	<h1>Quiénes Somos</h1>
	<p>Somos una empresa manizaleña enfocada en facilitar la preparación de alimentos tradicionales, mediante mezclas prácticas y sencillas de productos vegetales de excelente calidad.</p>
	
	<section>
		<h2>Misión</h2>
		<p>Facilitar la preparación de alimentos tradicionales, mediante mezclas prácticas y sencillas de productos vegetales de excelente calidad.</p>
	</section>
	
	<section>
		<h2>Visión</h2>
		<p>Para el año 2028 queremos ser la empresa líder en la región en producción de mezclas vegetales tradicionales de fácil preparación y de excelente calidad.</p>
	</section>
	
	<section>
		<h2>Propósito Central</h2>
		<p>Mezclas vegetales que te facilitan la vida.</p>
	</section>
</Layout>

<style>
	h1, h2 {
		color: rgb(var(--accent));
	}
	section {
		margin-bottom: 2rem;
	}

	.header-image-about {
		position: absolute;
		z-index: -1;
		right: 2.5rem;
	}

	.hero-image-about {
		width: 100%;
		height: auto;
		max-width: 150px;
	}
</style>